<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills list</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.mastery ? 'EXPERT' : 'NOOB' %>
        </li>
      <% }); %>
    </ul>
  </body>

</html>
